﻿
@{
    ViewBag.Title = "Index";
}

<h2>
    @ViewBag.categoryservice_client_GetCategoryName
</h2>
<h2>
    @ViewBag.productservice_client_GetProductName
</h2>
<h2>
    @ViewBag.proxysampleservice_client_SampleMethod
</h2>
<h2>
    @ViewBag.wcfaddition_iis_client_SumOfTwoNumber
</h2>
<h2>@ViewBag.multiplebindingsamplecalculater_client_Multiply</h2>
